@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #192633;
  --color-border-dark: #324d67;
  --color-text-secondary: #92adc9;
  --font-display: "Inter", sans-serif;
}

@layer base {
  html,
  body,
  #root {
    overscroll-behavior-y: contain;
  }

  body {
    @apply bg-[#101922] text-slate-100 font-display antialiased;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
